.three-container {
    width: 100%;
    height: 100%;
    background: #000 url(../assets/image/starry_sky_bg.jpg) no-repeat center center;
    overflow: hidden;
  }
  #starry-frame {
    width: 100%;
    min-height: 800px; 
    position: relative;
  }